*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#image-form{
   
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(90vh-50px);
}
#image-f{
    width: 100vw;
}
#form{
    position: absolute;
    top: 30%;
    left: 55%;
    
}
