*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#image-form1{
   
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(90vh-50px);
}
#image-f1{
    width: 100vw;
}
#form1{
    position: absolute;
    top: 30%;
    left: 40%;
    
}
